In [2]:
# Import Libraries
import pandas as pd
import numpy as np
import os

In [5]:
#define path
path = r'C:\Users\aditi\Desktop\Data Analytics_Career Foundry\Data Analytics_Immersion\Project 6'

In [8]:
# Import dataset
df_dataset = pd.read_csv(os.path.join(path, 'owid-covid-data.csv'))

C:\Users\aditi\AppData\Local\Temp\ipykernel_11852\4241345946.py:2: DtypeWarning: Columns (33) have mixed types. Specify dtype option on import or set low_memory=False.
  df_dataset = pd.read_csv(os.path.join(path, 'owid-covid-data.csv'))

In [11]:
df_dataset.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,population,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-01-05,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-01-06,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-01-07,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-01-08,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-01-09,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,37.746,0.5,64.83,0.511,41128772.0,NaN,NaN,NaN,NaN

In [16]:
selected_columns = ['iso_code', 'continent', 'location', 'date', 'total_cases', 'total_deaths', 'reproduction_rate', 'icu_patients', 'hosp_patients', 'total_tests', 'people_vaccinated', 'people_fully_vaccinated', 'aged_65_older', 'gdp_per_capita', 'cardiovasc_death_rate', 'diabetes_prevalence', 'female_smokers', 'male_smokers', 'life_expectancy', 'population']
df_new_dataset = df_dataset[selected_columns]

In [19]:
df_new_dataset.shape

(409882, 20)

In [25]:
df_new_dataset.head()

,iso_code,continent,location,date,total_cases,total_deaths,reproduction_rate,icu_patients,hosp_patients,total_tests,people_vaccinated,people_fully_vaccinated,aged_65_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,population
0,AFG,Asia,Afghanistan,2020-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.581,1803.987,597.029,9.59,NaN,NaN,64.83,41128772.0
1,AFG,Asia,Afghanistan,2020-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.581,1803.987,597.029,9.59,NaN,NaN,64.83,41128772.0
2,AFG,Asia,Afghanistan,2020-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.581,1803.987,597.029,9.59,NaN,NaN,64.83,41128772.0
3,AFG,Asia,Afghanistan,2020-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.581,1803.987,597.029,9.59,NaN,NaN,64.83,41128772.0
4,AFG,Asia,Afghanistan,2020-01-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.581,1803.987,597.029,9.59,NaN,NaN,64.83,41128772.0

In [29]:
df_new_dataset.isnull().sum()

iso_code                        0
continent                   19720
location                        0
date                            0
total_cases                 39338
total_deaths                62101
reproduction_rate          225065
icu_patients               370861
hosp_patients              369321
total_tests                330495
people_vaccinated          329159
people_fully_vaccinated    332229
aged_65_older               96844
gdp_per_capita              91969
cardiovasc_death_rate       91395
diabetes_prevalence         74889
female_smokers             170743
male_smokers               173993
life_expectancy             32120
population                      0
dtype: int64

In [31]:
all_null_rows = df_new_dataset.isna().all(axis=1)

In [33]:
num_null_rows = all_null_rows.sum()
print(f"Number of rows where all values are null: {num_null_rows}")

Number of rows where all values are null: 0

In [36]:
# Export the "df_covid_final_cleaned" dataframe to CSV
df_new_dataset.to_csv(os.path.join(path, 'df_new_dataset.csv'), index=False)

# Missing values could be 0 in the rows except in column 'continent' and this needs to be handled separately. Rest in all other columns, missing values can be replaced by zero.

In [42]:
df_new_dataset_filled = df_new_dataset.fillna(0)

In [44]:
df_new_dataset_filled.isnull().sum()

iso_code                   0
continent                  0
location                   0
date                       0
total_cases                0
total_deaths               0
reproduction_rate          0
icu_patients               0
hosp_patients              0
total_tests                0
people_vaccinated          0
people_fully_vaccinated    0
aged_65_older              0
gdp_per_capita             0
cardiovasc_death_rate      0
diabetes_prevalence        0
female_smokers             0
male_smokers               0
life_expectancy            0
population                 0
dtype: int64

In [46]:
#check datatypes
df_new_dataset_filled.dtypes

iso_code                    object
continent                   object
location                    object
date                        object
total_cases                float64
total_deaths               float64
reproduction_rate          float64
icu_patients               float64
hosp_patients              float64
total_tests                float64
people_vaccinated          float64
people_fully_vaccinated    float64
aged_65_older              float64
gdp_per_capita             float64
cardiovasc_death_rate      float64
diabetes_prevalence        float64
female_smokers             float64
male_smokers               float64
life_expectancy            float64
population                 float64
dtype: object

In [49]:
# checking for duplicates
duplicates = df_new_dataset_filled.duplicated()

In [51]:
print(df_new_dataset_filled[duplicates])

Empty DataFrame
Columns: [iso_code, continent, location, date, total_cases, total_deaths, reproduction_rate, icu_patients, hosp_patients, total_tests, people_vaccinated, people_fully_vaccinated, aged_65_older, gdp_per_capita, cardiovasc_death_rate, diabetes_prevalence, female_smokers, male_smokers, life_expectancy, population]
Index: []

In [53]:
df_new_dataset_filled.head()

,iso_code,continent,location,date,total_cases,total_deaths,reproduction_rate,icu_patients,hosp_patients,total_tests,people_vaccinated,people_fully_vaccinated,aged_65_older,gdp_per_capita,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,life_expectancy,population
0,AFG,Asia,Afghanistan,2020-01-05,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.581,1803.987,597.029,9.59,0.0,0.0,64.83,41128772.0
1,AFG,Asia,Afghanistan,2020-01-06,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.581,1803.987,597.029,9.59,0.0,0.0,64.83,41128772.0
2,AFG,Asia,Afghanistan,2020-01-07,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.581,1803.987,597.029,9.59,0.0,0.0,64.83,41128772.0
3,AFG,Asia,Afghanistan,2020-01-08,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.581,1803.987,597.029,9.59,0.0,0.0,64.83,41128772.0
4,AFG,Asia,Afghanistan,2020-01-09,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.581,1803.987,597.029,9.59,0.0,0.0,64.83,41128772.0

In [55]:
# Exporting 
df_new_dataset_filled.to_csv(os.path.join(path, 'df_clean_dataset.csv'), index=False)